In [1]:
###对Titanic数据进行清洗，建模并对乘客生存进行预测。使用之前介绍过的10种模型中的至少2种（包括TPOT）###
##采用 构造ID3决策树 TPOT ##
##ID3决策树##
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.feature_extraction import DictVectorizer
from sklearn.model_selection import cross_val_score
from sklearn import metrics
from sklearn.feature_extraction import DictVectorizer
import os

# 数据加载
os.chdir("D://开课吧数据挖掘资料//第三讲—用户画像/code//titanic")
train_data = pd.read_csv('./train.csv')
test_data = pd.read_csv('./test.csv')

In [2]:
#数据探索
print('查看数据信息：列名、非空个数、类型等')
print(train_data.info())
print('-'*30)
print('查看数据摘要')
print(train_data.describe())
print('-'*30)
print('查看离散数据分布')
print(train_data.describe(include=['O']))
print('-'*30)
print('查看前5条数据')
print(train_data.head())
print('-'*30)
print('查看后5条数据')
print(train_data.tail())

查看数据信息：列名、非空个数、类型等
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 66.2+ KB
None
------------------------------
查看数据摘要
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
------------------------------
查看离散数据分布
                               Name   Sex  Ticket    Cabin Embarked
count                           891   891     891      204      889
unique                          891     2     681      147        3
top     Giles, Mr. Frederick Edward  male  347082  B96 B98        S
freq                              1   577       7        4      644
------------------------------
查看前5条数据
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
------------------------------
查看后5条数据
     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

In [4]:
# 使用平均年龄来填充年龄中的nan值
train_data['Age'].fillna(train_data['Age'].mean(), inplace=True)
test_data['Age'].fillna(test_data['Age'].mean(),inplace=True)
# 使用票价的均值填充票价中的nan值
train_data['Fare'].fillna(train_data['Fare'].mean(), inplace=True)
test_data['Fare'].fillna(test_data['Fare'].mean(),inplace=True)

print(train_data['Embarked'].value_counts())
# 使用登录最多的港口来填充登录港口的nan值
train_data['Embarked'].fillna('S', inplace=True)
test_data['Embarked'].fillna('S',inplace=True)
# 特征选择
features = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']
train_features = train_data[features]
train_labels = train_data['Survived']
test_features = test_data[features]
#test_labels= test_data['Survived']
print('特征值')
print(train_features)

dvec=DictVectorizer(sparse=False)
train_features=dvec.fit_transform(train_features.to_dict(orient='record'))
print(dvec.feature_names_)

S    644
C    168
Q     77
Name: Embarked, dtype: int64
特征值
     Pclass     Sex        Age  SibSp  Parch      Fare Embarked
0         3    male  22.000000      1      0    7.2500        S
1         1  female  38.000000      1      0   71.2833        C
2         3  female  26.000000      0      0    7.9250        S
3         1  female  35.000000      1      0   53.1000        S
4         3    male  35.000000      0      0    8.0500        S
5         3    male  29.699118      0      0    8.4583        Q
6         1    male  54.000000      0      0   51.8625        S
7         3    male   2.000000      3      1   21.0750        S
8         3  female  27.000000      0      2   11.1333        S
9         2  female  14.000000      1      0   30.0708        C
10        3  female   4.000000      1      1   16.7000        S
11        1  female  58.000000      0      0   26.5500        S
12        3    male  20.000000      0      0    8.0500        S
13        3    male  39.000000      1      5   31.2750        S
14        3  female  14.000000      0      0    7.8542        S
15        2  female  55.000000      0      0   16.0000        S
16        3    male   2.000000      4      1   29.1250        Q
17        2    male  29.699118      0      0   13.0000        S
18        3  female  31.000000      1      0   18.0000        S
19        3  female  29.699118      0      0    7.2250        C
20        2    male  35.000000      0      0   26.0000        S
21        2    male  34.000000      0      0   13.0000        S
22        3  female  15.000000      0      0    8.0292        Q
23        1    male  28.000000      0      0   35.5000        S
24        3  female   8.000000      3      1   21.0750        S
25        3  female  38.000000      1      5   31.3875        S
26        3    male  29.699118      0      0    7.2250        C
27        1    male  19.000000      3      2  263.0000        S
28        3  female  29.699118      0      0    7.8792        Q
29        3    male  29.699118      0      0    7.8958        S
..      ...     ...        ...    ...    ...       ...      ...
861       2    male  21.000000      1      0   11.5000        S
862       1  female  48.000000      0      0   25.9292        S
863       3  female  29.699118      8      2   69.5500        S
864       2    male  24.000000      0      0   13.0000        S
865       2  female  42.000000      0      0   13.0000        S
866       2  female  27.000000      1      0   13.8583        C
867       1    male  31.000000      0      0   50.4958        S
868       3    male  29.699118      0      0    9.5000        S
869       3    male   4.000000      1      1   11.1333        S
870       3    male  26.000000      0      0    7.8958        S
871       1  female  47.000000      1      1   52.5542        S
872       1    male  33.000000      0      0    5.0000        S
873       3    male  47.000000      0      0    9.0000        S
874       2  female  28.000000      1      0   24.0000        C
875       3  female  15.000000      0      0    7.2250        C
876       3    male  20.000000      0      0    9.8458        S
877       3    male  19.000000      0      0    7.8958        S
878       3    male  29.699118      0      0    7.8958        S
879       1  female  56.000000      0      1   83.1583        C
880       2  female  25.000000      0      1   26.0000        S
881       3    male  33.000000      0      0    7.8958        S
882       3  female  22.000000      0      0   10.5167        S
883       2    male  28.000000      0      0   10.5000        S
884       3    male  25.000000      0      0    7.0500        S
885       3  female  39.000000      0      5   29.1250        Q
886       2    male  27.000000      0      0   13.0000        S
887       1  female  19.000000      0      0   30.0000        S
888       3  female  29.699118      1      2   23.4500        S
889       1    male  26.000000      0      0   30.0000        C
890       3    male  32.000000      0      0    7.7500        Q

[891 rows x 7 columns]
['Age', 'Embarked=C', 'Embarked=Q', 'Embarked=S', 'Fare', 'Parch', 'Pclass', 'Sex=female', 'Sex=male', 'SibSp']

In [5]:
## 构造ID3决策树
clf = DecisionTreeClassifier(criterion='entropy')
# 决策树训练
clf.fit(train_features, train_labels)

test_features=dvec.transform(test_features.to_dict(orient='record'))
# 决策树预测
pred_labels = clf.predict(test_features)

# 得到决策树准确率(基于训练集)
acc_decision_tree = round(clf.score(train_features, train_labels), 6)
print(u'score准确率为 %.4lf' % acc_decision_tree)

# 使用K折交叉验证 统计决策树准确率
print(u'cross_val_score准确率为 %.4lf' % np.mean(cross_val_score(clf, train_features, train_labels, cv=10)))

score准确率为 0.9820
cross_val_score准确率为 0.7801

In [6]:
##TPOT##
from tpot import TPOTClassifier
tpot = TPOTClassifier(generations=5, population_size=20, verbosity=2)
tpot.fit(train_features, train_labels)

C:\Users\Administrator\AppData\Roaming\Python\Python37\site-packages\tpot\builtins\__init__.py:36: UserWarning: Warning: optional dependency `torch` is not available. - skipping import of NN models.
  warnings.warn("Warning: optional dependency `torch` is not available. - skipping import of NN models.")

Warning: xgboost.XGBClassifier is not available and will not be used by TPOT.

HBox(children=(FloatProgress(value=0.0, description='Optimization Progress', max=120.0, style=ProgressStyle(de…

Generation 1 - Current best internal CV score: 0.8114556525014125
Generation 2 - Current best internal CV score: 0.8339212855439081
Generation 3 - Current best internal CV score: 0.8339212855439081
Generation 4 - Current best internal CV score: 0.8339212855439081
Generation 5 - Current best internal CV score: 0.8339212855439081
Best pipeline: ExtraTreesClassifier(GradientBoostingClassifier(input_matrix, learning_rate=0.1, max_depth=7, max_features=0.3, min_samples_leaf=8, min_samples_split=18, n_estimators=100, subsample=0.9000000000000001), bootstrap=False, criterion=entropy, max_features=1.0, min_samples_leaf=19, min_samples_split=6, n_estimators=100)

TPOTClassifier(generations=5,
               log_file=<ipykernel.iostream.OutStream object at 0x02F52C50>,
               population_size=20, verbosity=2)